.task {
    margin: 7px;
    padding : 10px 20px;
    background: rgb(75, 74, 74);
    color: white;
    cursor: pointer;
    border:0px;
    border-radius: 5px;


}



.task.reminder{
    border-left: 8px solid green;
}

.task h5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
}

.task p{
    color:hotpink
}